.login-nav{
    height: 88px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 80px;
    justify-content: flex-start;
    color: whitesmoke;

    .logo{
        display: flex;
        align-items: center;

        img{
            margin-top: 8px;
            height: 40px;
            width: 40px;
        }

        span{
            font-size: 20px;
            font-weight: bold;
        }
    }
}