.behavioral-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;

    .behavioral-hero{
        width: 50%;
        height: auto;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: rgba($color: #221E35, $alpha: 0.4);
        border-radius: 12px;
        border: 1px solid rgba($color: #4725F4, $alpha: 0.2);

        .topic{
            display: flex;
            gap: 10px;
            .blue{
                color: #4725f4;
            }
        }

        p{
            font-size: 16px;
            color: #94a3b8;
        }
    }

    .questions-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .each-question {
      width: 100%;
    //   height: 450px;
      padding: 32px;
      background-color: rgba($color: #1b182b, $alpha: 0.6);
      border-radius: 12px;
      border: 1px solid #2d2a45;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .topic {
        font-size: 12px;
        color: #4725f4;
      }

      .question {
        font-size: 22px;
        font-weight: bold;
      }

      .answer {
        width: inherit;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h5 {
          color: #94a3b8;
        }

        #answer {
          background-color: #0a0814;
          border: 1px solid #2d2a45;
          outline: none;
          height: 160px;
          border-radius: 12px;
          padding: 16px;
          color: #94a3b8;
          resize: none;
        }
      }

      button {
        width: 180px;
        height: 50px;
        background-color: #4725f4;
        color: whitesmoke;
        font-weight: 600;
        border: none;
        border-radius: 12px;
      }
    }
  }

    .hidden{
      display: none;
    }
}