.home-page{
    padding: 32px;
    width: 100%;

    .home-top{
        width: 100%;
        height: 500px;
        
        .home-top-left{
            width: 630px;
            height: 100%;
        }
    }
}