.hero-section{
    width: 100%;
    height: 1332px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 128px;
    padding-inline: 80px;
}